.keys {
  display: flex;
  width: 100%;
  padding: 5rem;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.key {
  border: gray 2px solid;
  padding: 10px;
  border-radius: 10px;
  transition: all .08s;
}

.playing {
  transform: scale(1.2);
  border: orange 2px solid;
  background-color: orange;
  color: white;
}
